#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --text-dark-theme-translation: #ffff00;
  --text-white-theme-translation: #00008b;
  --shadow-dark-theme-audioIcon: #e3f0f3aa;
  --shadow-white-theme-audioIcon: #03232baa;
  --bg-dark-theme-mainButton: #1a1a1a;
  --bg-white-theme-mainButton: #b6b6b6;
  --bg-dark-theme-popupDefault: #333333;
  --bg-white-theme-popupDefault: #dfdfdf;
  --text-dark-theme: #ffffffde;
  --text-white-theme: #213547;
  --border-menu: #549e42;
  --border-lang: #7c429e;
  --border-default: rgb(209 213 219 / 1);
  --border-defaultHover: rgb(253 224 71 / 1);
  --border-verbList: #bee75e;
  --border-contact: #df6066;
  --border-about: #43be9a;
}

.verbTranslation {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--text-dark-theme-translation);
}

.audioIcon {
  cursor: pointer;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 2.5rem;
}
.audioIcon:hover {
  filter: drop-shadow(0 0 1rem var(--shadow-dark-theme-audioIcon));
}

.mainButton {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--bg-dark-theme-mainButton);
  cursor: pointer;
  transition: border-color 0.25s;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 18rem;
}
.mainButton:hover {
  border-color: #646cff;
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.mainButton:focus,
.mainButton:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.menuButton {
  width: 8rem;
  height: 4rem;
  border-radius: 9999px;
  border: solid 4px;
  border-color: var(--border-default);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.75rem;
}
.menuButton:hover {
  border-color: var(--border-menu);
}

.roundedIcon {
  width: 4rem;
  height: 4rem;
  border-radius: 9999px;
  border: solid 4px;
  border-color: var(--border-default);
}
.menuIcon:hover {
  cursor: pointer;
  border-color: var(--border-menu);
}
.flagIcon:hover {
  cursor: pointer;
  border-color: var(--border-lang);
}
.whiteDarkIcon:hover {
  cursor: pointer;
  border-color: var(--border-menu);
}

.popupLayout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  overflow: hidden;
}

.popupDefault {
  background-color: var(--bg-dark-theme-popupDefault);
  width: 80%;
  max-width: 400px;
  height: fit-content;
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 15px 15px 15px / 15px 15px;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  cursor: default;
}

.bgPopupWhite {
  background-color: var(--bg-white-theme-popupDefault);
}

.bgPopupDark {
  background-color: var(--bg-dark-theme-popupDefault);
}

.popupLang {
  border: solid 4px var(--border-lang);
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: center;
  align-content: baseline;
  width: 100%;
  max-height: 80%;
  overflow: auto;
}

.popupMenu {
  border: solid 4px var(--border-menu);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
  padding-inline: 1.5rem;
  width: 100%;
  max-height: 80%;
  overflow: auto;
}

.popupMenuButtons {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  gap: 2.5rem;
  max-height: 80%;
}

.popupAbout {
  border: solid 4px var(--border-about);
  width: 100%;
  max-height: 80%;
  overflow: auto;
}

.popupContact {
  border: solid 4px var(--border-contact);
  width: 100%;
  max-height: 80%;
  overflow: auto;
}

.popupEntireList {
  border: solid 4px var(--border-verbList);
  width: 100%;
  max-height: 80%;
  overflow: auto;
}
