#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.verbTranslation {
  color: yellow;
}

.audioIcon {
  cursor: pointer;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 2.5rem;
}
.audioIcon:hover {
  filter: drop-shadow(0 0 1rem #e3f0f3aa);
}

@media (prefers-color-scheme: light) {
  .verbTranslation {
    color: darkblue;
  }
  .audioIcon:hover {
    filter: drop-shadow(0 0 1rem #03232baa);
  }
}
