@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --bg-dark-theme: #242424;
  --bg-white-theme: #ffffff;
  --text-dark-theme: #ffffffde;
  --text-white-theme: #213547;
  color: var(--text-dark-theme);
  background-color: var(--bg-dark-theme);
}

body {
  margin: 0;
  display: flex;
  place-items: start;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}
